{% extends 'base.html.twig' %}

{% block title %}Groupe Royer - Marketplace{% endblock %}

{% block body %}

  <!--Main Navigation-->
  <header>

    <div class="jumbotron jumbotron-image color-grey-light"
      style="background-image: url('https://mdbootstrap.com/img/Photos/Others/clothes(5)-crop.jpg'); height: 400px;">
      <div class="mask rgba-black-strong d-flex align-items-center h-100">
        <div class="container text-center white-text py-5">
          <h1 class="mb-0">Marketplace</h1>
        </div>
      </div>
    </div>

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main>
    <div class="container">

      <!--Grid row-->
      <div class="row mt-5">

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Section: Sidebar -->
          <section>

            <!-- Section: Categories -->
            <section>

              <h5>Subcategories</h5>

              <div class="text-muted small text-uppercase mb-5">
                <p class="mb-3"><a href="#!" class="card-link-secondary">Dresses</a></p>
              </div>

            </section>
            <!-- Section: Categories -->

            <!-- Section: Filters -->
            <section>

              <h5 class="pt-2 mb-4">Filters</h5>

              <section class="mb-4">

                <div class="md-form md-outline mt-0 d-flex justify-content-between align-items-center">
                  <input type="text" id="search12" class="form-control mb-0" placeholder="Search...">
                  <a href="#!" class="btn btn-flat btn-md px-3 waves-effect"><i class="fas fa-search fa-lg"></i></a>
                </div>

              </section>


              <!-- Section: Size -->
              <section class="mb-4">

                <h6 class="font-weight-bold mb-3">Size</h6>

                <div class="form-check pl-0 mb-3">
                  <input type="checkbox" class="form-check-input filled-in" id="34">
                  <label class="form-check-label small text-uppercase card-link-secondary" for="34">34</label>
                </div>
                <div class="form-check pl-0 mb-3">
                  <input type="checkbox" class="form-check-input filled-in" id="36">
                  <label class="form-check-label small text-uppercase card-link-secondary" for="36">36</label>
                </div>
                <div class="form-check pl-0 mb-3">
                  <input type="checkbox" class="form-check-input filled-in" id="38">
                  <label class="form-check-label small text-uppercase card-link-secondary" for="38">38</label>
                </div>
                <div class="form-check pl-0 mb-3">
                  <input type="checkbox" class="form-check-input filled-in" id="40">
                  <label class="form-check-label small text-uppercase card-link-secondary" for="40">40</label>
                </div>
                <a class="btn btn-link text-muted p-0" data-toggle="collapse" href="#collapseExample"
                  aria-expanded="false" aria-controls="collapseExample">
                  More
                </a>
                <div class="collapse pt-3" id="collapseExample">
                  <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="form-check-input filled-in" id="42">
                    <label class="form-check-label small text-uppercase card-link-secondary" for="42">42</label>
                  </div>
                  <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="form-check-input filled-in" id="44">
                    <label class="form-check-label small text-uppercase card-link-secondary" for="44">44</label>
                  </div>
                  <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="form-check-input filled-in" id="46">
                    <label class="form-check-label small text-uppercase card-link-secondary" for="46">46</label>
                  </div>
                  <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="form-check-input filled-in" id="50">
                    <label class="form-check-label small text-uppercase card-link-secondary" for="50">50</label>
                  </div>
                </div>

              </section>
              <!-- Section: Size -->

              <!-- Section: Color -->
              <section class="mb-4">

                <h6 class="font-weight-bold mb-3">Color</h6>

                <div class="btn-group btn-group-toggle btn-color-group d-block mt-n2 ml-n2" data-toggle="buttons">
                  <label class="btn rounded-circle white border-inset-grey p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                  </label>
                  <label class="btn rounded-circle grey p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                  </label>
                  <label class="btn rounded-circle black p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                  </label>
                  <label class="btn rounded-circle green p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                  </label>
                  <label class="btn rounded-circle blue p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                  </label>
                  <label class="btn rounded-circle purple p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                  </label>
                  <label class="btn rounded-circle yellow p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                  </label>
                  <label class="btn rounded-circle indigo p-3 m-2">
                    <input type="checkbox" checked autocomplete="off">
                  </label>
                  <label class="btn rounded-circle red p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                  </label>
                  <label class="btn rounded-circle orange p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                  </label>
                </div>

              </section>
              <!-- Section: Color -->

            </section>
            <!-- Section: Filters -->

          </section>
          <!-- Section: Sidebar -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Section: Block Content-->
          <section>

            {# <p>Products</p>
            {% for product in products %}
            <p>Product {{ product.id }}, {{ product.name }}</p>
            {% endfor %}

            <p>Variants</p>
            {% for row in variantsRows %}
              {% for variant in row %}
              <p>Variants {{ variant.id }}, {{ variant.reference }}</p>
              {% endfor %}
            {% endfor %} #}


            {# <p>Products + Variants</p>
            {% for product in products %}
            <p>Product {{ product.id }}, {{ product.name }}</p>

              {% for variant in variantsRows.product.id %}
              <p>Variants {{ variant.id }}, {{ variant.reference }}</p>
              {% endfor %}
            {% endfor %} #}


            <!-- Grid row -->
            <div class="row">

              {% for item in items %}
              <!-- Grid column -->
              <div class="col-md-4 mb-5">

                <!-- Card -->
                <div class="">

                  <div class="view zoom overlay rounded z-depth-2">
                    <img class="img-fluid w-100"
                      src="{{ item.image }}" alt="Sample">
                    <a href="/product/{{ item.parentId }}/0">
                      <div class="mask">
                        <img class="img-fluid w-100"
                          src="{{ item.image }}">
                        <div class="mask rgba-black-slight"></div>
                      </div>
                    </a>
                  </div>

                  <div class="text-center pt-4">

                    <h5>{{ item.name }}</h5>
                    <p><span class="mr-1"><strong>{{ item.price }} €</strong></span></p>

                  </div>

                </div>
                <!-- Card -->

              </div>
              <!-- Grid column -->
              {% endfor %}

            </div>
            <!-- Grid row -->

          </section>
          <!--Section: Block Content-->


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock %}
