.navbar-brand img {
    height: 40px;
}

.jumbotron.jumbotron-image {
    height: 500px !important;
    padding-top: 60px;
}

.error-message {
    color: #da2727;
}

.error-container {
    height: 50vh;
}