{% extends 'base.html.twig' %}

{% block title %}Hello ProductController{% endblock %}

{% block body %}

  <!--Main Navigation-->
  <header>

    <div class="jumbotron color-grey-light mt-70">
      <div class="d-flex align-items-center h-100">
        <div class="container text-center py-5">
          <h3 class="mb-0">Plus de détails</h3>
        </div>
      </div>
    </div>

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Block Content-->
      <section class="mb-5">

        <div class="row">
          <div class="col-md-6 mb-4 mb-md-0">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

              <div class="row product-gallery mx-1">

                <div class="col-12 mb-0">
                  <figure class="view overlay rounded z-depth-1 main-img" style="max-height: 450px;">
                    <a href="{{ productInfo.image }}"
                      data-size="710x823">
                      <img src="{{ productInfo.image }}"
                        class="img-fluid z-depth-1" style="margin-top: -90px;">
                    </a>
                  </figure>
                  <figure class="view overlay rounded z-depth-1" style="visibility: hidden;">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
                      data-size="710x823">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
                        class="img-fluid z-depth-1">
                    </a>
                  </figure>
                  <figure class="view overlay rounded z-depth-1" style="visibility: hidden;">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg"
                      data-size="710x823">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg"
                        class="img-fluid z-depth-1">
                    </a>
                  </figure>
                  <figure class="view overlay rounded z-depth-1" style="visibility: hidden;">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
                      data-size="710x823">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
                        class="img-fluid z-depth-1">
                    </a>
                  </figure>
                </div>
                <div class="col-12">
                  <div class="row">

                    {% for key, variant in variants %}

                    <div class="col-3">
                      <a href="/product/{{ product.id }}/{{ key }}" class="view overlay rounded z-depth-1 gallery-item hoverable">
                        <img src="{{ variant.image }}"
                          class="img-fluid">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>

                    {% endfor %}

                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="col-md-6">

            <h5>{{ productInfo.name }}</h5>
            <p class="mb-2 text-muted text-uppercase small">{{ productInfo.typeLabel }}</p>
            <p><span class="mr-1"><strong>{{ productInfo.price }} €</strong></span></p>
            <div class="table-responsive">
              <table class="table table-sm table-borderless mb-0">
                <tbody>
                  <tr>
                    <th class="pl-0 w-25" scope="row"><strong>Marque</strong></th>
                    <td>{{ productInfo.brand }}</td>
                  </tr>
                  <tr>
                    <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
                    <td>{{ productInfo.colorLabel }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <div class="table-responsive mb-2">
              <table class="table table-sm table-borderless">
                <tbody>
                  <tr>
                    <td class="pl-0 pb-0 w-25">Quantity</td>
                  </tr>
                  <tr>
                    <td class="pl-0">
                      <div class="def-number-input number-input safari_only mb-0">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                          class="minus"></button>
                        <input class="quantity" min="0" name="quantity" value="1" id="input-quantity" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                          class="plus"></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <hr>
            {% if productInfo.isStock == true %}
            <div class="table-responsive mb-2">
              <table class="table table-sm table-borderless">
                <tbody>
                  <tr>
                    <td class="pb-0">Select size</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="mt-1">
                        {% for key, size in productInfo.sizesLabels %}
                        <div class="form-check form-check-inline pl-0">
                          <input type="radio" class="form-check-input" id="size-{{ key }}" name="materialExampleRadios">
                          <label id="size-label-{{ key }}" class="form-check-label size-{{ key }} text-uppercase card-link-secondary"
                            for="size-{{ key }}">{{ size }}</label>
                        </div>
                        {% endfor %}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <input class="" min="0" name="color-code" value="{{ productInfo.colorCode }}" type="hidden">
            <button id="add-button" type="button" class="btn btn-primary btn-md mr-1 mb-2"><i class="fas fa-shopping-cart pr-2"></i>Add to
              cart</button>
            {% else %}
            <p>Aucun stocks disponible</p>
            {% endif %}
          </div>
        </div>

      </section>
      <!--Section: Block Content-->

    </div>
  </main>
  <!--Main layout-->

  <script>
    console.log("Add to basket script");
    var buttonAdd = $("#add-button");
    var baseAddUrl = "/basket/add/";
    var inputQuantity = $("#input-quantity");
    var selectSizeLabel = false;
    var colorCode = "{{ productInfo.colorCode }}";

    var sizesButtonList = [];
    var isOneSizeSelected = false;

    {% for key, size in productInfo.sizesLabels %}
    sizesButtonList.push($("#size-{{ key }}"));
    {% endfor %}

    console.log(buttonAdd);

    function buildQuantityUrl()
    {
      let output = "";

      for (let i = 0; i < sizesButtonList.length; i++) {
        if (document.getElementById('size-' + i).checked == true)
        {
          selectSizeLabel = $("#size-label-" + i).text();
          break;
        }
      }

      output = output.slice(0, -1);
      console.log("buildQuantityUrl : " + output);
      return output;
    }

    buttonAdd.click(function() {
      console.log("Add new product in basket");

      for (let i = 0; i < sizesButtonList.length; i++) {
        if (document.getElementById('size-' + i).checked == true)
        {
          selectSizeLabel = $("#size-label-" + i).text();
          break;
        } else {
          selectSizeLabel = false;
        }
      }

      if (selectSizeLabel != false && inputQuantity.val() > 0)
      {
        var settings = {
          "url": "https://localhost:8000/basket/add/",
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "processData": false,
          "mimeType": "multipart/form-data",
          "contentType": false,
          "data": JSON.stringify({
            "variantId" : {{ productInfo.variantId }},
            "colorCode" : colorCode,
            "sizeLabel" : selectSizeLabel,
            "quantity" : inputQuantity.val(),
          })
        };

        $.ajax(settings).done(function (response) {
          var httpResponse = response;

          console.log(response);

          if (response == "nostock")
          {
            alert("Pas assez de stock !");
          }

          if (response == "ok")
          {
            window.location.href = "/basket";
          }
        });

      } else {
        console.log("Aucune taille selectionnée");
      }
    });

    console.log("Add to basket script end");
  </script>

{% endblock %}
