<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="http://www.grouperoyer.com/themes/custom/vu_par/favicon.ico" type="image/vnd.microsoft.icon">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Groupe Royer - Marketplace{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://mdbootstrap.com/previews/ecommerce-demo/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://mdbootstrap.com/previews/ecommerce-demo/css/mdb-pro.min.css">
        <link rel="stylesheet" href="https://mdbootstrap.com/previews/ecommerce-demo/css/mdb.ecommerce.min.css">
        <link rel="stylesheet" href="/asset/css/style.css">
        {% endblock %}

        {% block javascripts %}
        <!-- SCRIPTS -->
        <script src="https://mdbootstrap.com/previews/ecommerce-demo/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="https://mdbootstrap.com/previews/ecommerce-demo/js/popper.min.js"></script>
        <script type="text/javascript" src="https://mdbootstrap.com/previews/ecommerce-demo/js/bootstrap.js"></script>
        <script type="text/javascript" src="https://mdbootstrap.com/previews/ecommerce-demo/js/mdb.min.js"></script>
        <script type="text/javascript" src="https://mdbootstrap.com/previews/ecommerce-demo/js/mdb.ecommerce.min.js"></script>
        <script>
            $('#multi').mdbRange({
            single: {
                active: true,
                multi: {
                active: true,
                rangeLength: 1
                },
            }
            });

            $(document).ready(function () {
            $('.mdb-select').materialSelect();
            $('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
                $(this).closest('.select-outline').find('label').toggleClass('active');
                $(this).closest('.select-outline').find('.caret').toggleClass('active');
            });
            });
        </script>
        {% endblock %}
    </head>
    <body class="skin-light">
        {% block nav %}

        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-light fixed-top scrolling-navbar">

            <div class="container-fluid">

                <!-- Brand -->
                <a class="navbar-brand" href="/">
                    <img src="/asset/image/logo.png" />
                </a>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Right -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a href="/basket" class="nav-link navbar-link-2 waves-effect">
                        <i class="fas fa-shopping-cart pl-0"></i>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="mailto:teo.conan.tirault@gmail.com" class="nav-link waves-effect">
                        Contact
                    </a>
                    </li>
                </ul>

                </div>
                <!-- Links -->
            </div>

        </nav>
        <!-- Navbar -->

        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
        
        <!-- Footer -->
        <footer class="page-footer font-small elegant-color">

            <div class="color-primary">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Get connected with us on social networks!</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic">
                    <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                    <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                    <i class="fab fa-google-plus-g white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                    <i class="fab fa-linkedin-in white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                    <i class="fab fa-instagram white-text"> </i>
                    </a>

                </div>
                <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
            </div>

            <!-- Footer Links -->
            <div class="container text-center text-md-left pt-4 pt-md-5">

            <!-- Grid row -->
            <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

                <!-- Grid column -->
                <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

                <!-- Links -->
                <h5>About me</h5>
                <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

                <p class="foot-desc mb-0">Site absolument authentique, n'a aucunement été copié d'ailleurs.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

                <!-- Links -->
                <h5>Useful links</h5>
                <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

                <ul class="list-unstyled foot-desc">
                    <li class="mb-2">
                    <a href="#!">Your Account</a>
                    </li>
                    <li class="mb-2">
                    <a href="#!">Become an Affiliate</a>
                    </li>
                    <li class="mb-2">
                    <a href="#!">Shipping Rates</a>
                    </li>
                    <li class="mb-2">
                    <a href="#!">Help</a>
                    </li>
                </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

                <!-- Links -->
                <h5>Contacts</h5>
                <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

                <ul class="fa-ul foot-desc ml-4">
                    <li class="mb-2"><span class="fa-li"><i class="far fa-map"></i></span>New York, Avenue Street 10
                    </li>
                    <li class="mb-2"><span class="fa-li"><i class="fas fa-phone-alt"></i></span>042 876 836 908</li>
                    <li class="mb-2"><span class="fa-li"><i class="far fa-envelope"></i></span>company@example.com</li>
                </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2021 Copyright:
            <a href="http://www.grouperoyer.com/fr/"> Grouperoyer.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
        
        {% endblock %}

    </body>
</html>
