{% extends 'base.html.twig' %}

{% block title %}Hello ProductController{% endblock %}

{% block body %}

  <!--Main Navigation-->
  <header>

    <div class="jumbotron color-grey-light mt-70 error-container">
      <div class="d-flex align-items-center h-100">
        <div class="container text-center py-5">
          <h3 class="mb-0 error-message">{{ errorMessage }}</h3>
        </div>
      </div>
    </div>

  </header>
  <!--Main Navigation-->

{% endblock %}
